In [108]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
pd.set_option('display.max_columns', None)

In [109]:
df = pd.read_csv('../customer_churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [110]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

# Data Exploration and Data Cleaning

In [111]:
df.shape

(7043, 21)

In [112]:
df.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No

In [113]:
df.drop('customerID',axis=1,inplace=True)
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [114]:
for x in df:
    print(x,df[x].unique())

gender ['Female' 'Male']
SeniorCitizen [0 1]
Partner ['Yes' 'No']
Dependents ['No' 'Yes']
tenure [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
PhoneService ['No' 'Yes']
MultipleLines ['No phone service' 'No' 'Yes']
InternetService ['DSL' 'Fiber optic' 'No']
OnlineSecurity ['No' 'Yes' 'No internet service']
OnlineBackup ['Yes' 'No' 'No internet service']
DeviceProtection ['No' 'Yes' 'No internet service']
TechSupport ['No' 'Yes' 'No internet service']
StreamingTV ['No' 'Yes' 'No internet service']
StreamingMovies ['No' 'Yes' 'No internet service']
Contract ['Month-to-month' 'One year' 'Two year']
PaperlessBilling ['Yes' 'No']
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Churn ['No' 'Yes']

In [115]:
def no_converter(x):
    if (x=='No internet service' or x=='No phone service'):
        return 'No'
    else:
        return x

for x in df:
    df[x] = df[x].apply(lambda p:no_converter(p))

for x in df:
    print(x,df[x].unique())

gender ['Female' 'Male']
SeniorCitizen [0 1]
Partner ['Yes' 'No']
Dependents ['No' 'Yes']
tenure [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
PhoneService ['No' 'Yes']
MultipleLines ['No' 'Yes']
InternetService ['DSL' 'Fiber optic' 'No']
OnlineSecurity ['No' 'Yes']
OnlineBackup ['Yes' 'No']
DeviceProtection ['No' 'Yes']
TechSupport ['No' 'Yes']
StreamingTV ['No' 'Yes']
StreamingMovies ['No' 'Yes']
Contract ['Month-to-month' 'One year' 'Two year']
PaperlessBilling ['Yes' 'No']
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Churn ['No' 'Yes']

In [116]:
def yes_no_converter(x):
    if(x=='Yes'):
        return 1
    elif(x=='No'):
        return 0
    else:
        return x
for x in df:
    df[x] = df[x].apply(lambda p:yes_no_converter(p))
for x in df:
    print(x,df[x].unique())

gender ['Female' 'Male']
SeniorCitizen [0 1]
Partner [1 0]
Dependents [0 1]
tenure [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
PhoneService [0 1]
MultipleLines [0 1]
InternetService ['DSL' 'Fiber optic' 0]
OnlineSecurity [0 1]
OnlineBackup [1 0]
DeviceProtection [0 1]
TechSupport [0 1]
StreamingTV [0 1]
StreamingMovies [0 1]
Contract ['Month-to-month' 'One year' 'Two year']
PaperlessBilling [1 0]
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Churn [0 1]

In [130]:
pd.to_numeric(df.TotalCharges,errors='coerce').isna()

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Name: TotalCharges, Length: 7043, dtype: bool

In [131]:
df[pd.to_numeric(df.TotalCharges,errors='coerce').isna()].shape

(11, 20)

In [132]:
df1 = df[df.TotalCharges!=' ']
df1.shape

(7032, 20)

In [136]:
df1['TotalCharges'] = pd.to_numeric(df1['TotalCharges'])

C:\Users\User\AppData\Local\Temp\ipykernel_1152\1462773625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['TotalCharges'] = pd.to_numeric(df1['TotalCharges'])

In [140]:
df1.dtypes

gender               object
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService      object
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [139]:
df2 = pd.get_dummies(data = df1, columns=['InternetService','Contract','PaymentMethod'])
df2.shape

(7032, 27)

In [142]:
def gender_encode(x):
    if(x=='Male'):
        return 1
    elif(x=='Female'):
        return 0
    else:
        return x
df2['gender'] = df2.gender.apply(lambda p:gender_encode(p))

In [143]:
df2.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                       int64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_0                            uint8
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [144]:
col_to_scale = ['tenure','MonthlyCharges','TotalCharges']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df2[col_to_scale] = scaler.fit_transform(df2[col_to_scale])

In [145]:
df2.sample(3)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,InternetService_0,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
294,0,0,0,0,0.154930,1,0,0,0,0,0,0,0,0,0.014428,0.023258,0,1,0,0,1,0,0,0,0,0,1
4124,0,1,1,0,0.253521,1,1,0,0,0,0,1,1,1,0.763184,0.200952,0,0,0,1,1,0,0,0,0,1,0
1997,0,0,1,1,0.929577,1,1,0,0,1,1,1,1,1,0.869652,0.773033,0,0,0,1,0,0,1,1,0,0,0

In [146]:
x = df2.drop('Churn',axis=1)
y = df2['Churn']

In [147]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [148]:
x_train.shape

(5625, 26)

# Model

In [155]:
model = keras.Sequential([
    keras.layers.Dense(13,input_shape=(26,),activation='relu'),
    keras.layers.Dense(6,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
model.fit(x_train,y_train,epochs=50)

Epoch 1/50
176/176 [==============================] - 1s 1ms/step - loss: 0.6510 - accuracy: 0.5947
Epoch 2/50
176/176 [==============================] - 0s 2ms/step - loss: 0.4802 - accuracy: 0.7623
Epoch 3/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4378 - accuracy: 0.7851
Epoch 4/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4275 - accuracy: 0.7940
Epoch 5/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4223 - accuracy: 0.7956
Epoch 6/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4193 - accuracy: 0.8014
Epoch 7/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4170 - accuracy: 0.8028
Epoch 8/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4162 - accuracy: 0.8046
Epoch 9/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4154 - accuracy: 0.8078
Epoch 10/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4149 - accuracy: 0.8048
Epoch 11/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4131 - accuracy: 0.8068
Epoch 12/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4121 - accuracy: 0.8062
Epoch 13/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4115 - accuracy: 0.8105
Epoch 14/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4104 - accuracy: 0.8098
Epoch 15/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4100 - accuracy: 0.8064
Epoch 16/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4090 - accuracy: 0.8096
Epoch 17/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4075 - accuracy: 0.8124
Epoch 18/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4066 - accuracy: 0.8103
Epoch 19/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4061 - accuracy: 0.8094
Epoch 20/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4054 - accuracy: 0.8112
Epoch 21/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4049 - accuracy: 0.8105
Epoch 22/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4042 - accuracy: 0.8124
Epoch 23/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4035 - accuracy: 0.8137
Epoch 24/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4026 - accuracy: 0.8135
Epoch 25/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4024 - accuracy: 0.8132
Epoch 26/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4023 - accuracy: 0.8068
Epoch 27/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4013 - accuracy: 0.8126
Epoch 28/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4007 - accuracy: 0.8144
Epoch 29/50
176/176 [==============================] - 0s 1ms/step - loss: 0.4006 - accuracy: 0.8149
Epoch 30/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3997 - accuracy: 0.8178
Epoch 31/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3990 - accuracy: 0.8110
Epoch 32/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3987 - accuracy: 0.8164
Epoch 33/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3996 - accuracy: 0.8144
Epoch 34/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3982 - accuracy: 0.8149
Epoch 35/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3986 - accuracy: 0.8135
Epoch 36/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3977 - accuracy: 0.8117
Epoch 37/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3973 - accuracy: 0.8139
Epoch 38/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3962 - accuracy: 0.8142
Epoch 39/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3967 - accuracy: 0.8156
Epoch 40/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3955 - accuracy: 0.8172
Epoch 41/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3959 - accuracy: 0.8140
Epoch 42/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3953 - accuracy: 0.8139
Epoch 43/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3957 - accuracy: 0.8171
Epoch 44/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3945 - accuracy: 0.8155
Epoch 45/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3951 - accuracy: 0.8178
Epoch 46/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3946 - accuracy: 0.8180
Epoch 47/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3937 - accuracy: 0.8169
Epoch 48/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3932 - accuracy: 0.8181
Epoch 49/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3940 - accuracy: 0.8148
Epoch 50/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3930 - accuracy: 0.8176

In [156]:
y_predicted = model.predict(x_test)

44/44 [==============================] - 0s 1ms/step

In [167]:
for i in range(len(y_predicted)):
    if(y_predicted[i]>=0.5):
        y_predicted[i] = 1
    else:
        y_predicted[i] = 0

In [169]:
model.evaluate(x_test,y_test)

44/44 [==============================] - 0s 1ms/step - loss: 0.4394 - accuracy: 0.7854

[0.4394301474094391, 0.7853589057922363]